rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /professores/{professorId} {
      allow read: if true;
      allow write: if false;
    }

    match /alunos/{alunoId} {
      allow read: if true;
      allow write: if false;
    }

    match /presencas/{presencaId} {
      allow get: if true;
      allow list: if false;

      allow create: if
        request.resource.data.alunoId is string &&
        request.resource.data.professorId is string &&
        request.resource.data.matricula is string &&
        request.resource.data.nomeAluno is string &&
        request.resource.data.nomeProfessor is string &&
        request.resource.data.faixa is string &&
        request.resource.data.dia is string &&
        request.resource.data.origem is string &&
        request.resource.data.dataHora == request.time;

      allow update, delete: if false;
    }

    match /usuarios/{usuarioId} {
      allow get: if request.auth != null
                 && request.auth.uid == usuarioId;

      allow list, create, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}